@model Entity.Grupo

@{
    ViewBag.Title = "Details Grupo " + Model.CGrupo;
}

<h2>Details</h2>

<div>
    <h4>Grupo @Html.DisplayFor(model => model.CGrupo)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGrupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDescripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDescripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumParticipantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumParticipantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DFechaJuego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DFechaJuego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDistrito.NDistrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDistrito.NDistrito)
        </dd>
        
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CGrupo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
