@model IEnumerable<Entity.Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TDescripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumParticipantes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DFechaJuego)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TDescripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumParticipantes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DFechaJuego)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
