@model Entity.Ciudad

@{
    ViewBag.Title = "Delete Ciudad " + Model.CCiudad;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ciudad @Html.DisplayFor(model => model.CCiudad)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NCiudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NCiudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDepartamento.NDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDepartamento.NDepartamento)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
