<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary font-weight-bolder">
        <div class="container">
            @Html.ActionLink("SoccerMatch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Alquiler", "Index", "Alquiler")
            @Html.ActionLink("Alquiler", "Index", "Alquiler")
            @Html.ActionLink("Grupo", "Index", "Grupo")
            @Html.ActionLink("Participante", "Index", "Participante")
            @Html.ActionLink("Detalle", "Index", "Detalle")
            @Html.ActionLink("Cancha", "Index", "Cancha")
            @Html.ActionLink("Propietario", "Index", "Propietario")
            @Html.ActionLink("Usuario", "Index", "Usuario")
            @Html.ActionLink("Jugador", "Index", "Jugador")
            @Html.ActionLink("Departamento", "Index", "Departamento")
            @Html.ActionLink("Ciudad", "Index", "Ciudad")
            @Html.ActionLink("Distrito", "Index", "Distrito")
            @Html.ActionLink("Calle", "Index", "Calle")
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SoccerMatch ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
