<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SoccerMatch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="item">@Html.ActionLink("Alquiler", "Index", "Alquiler")</li>
                    <li class="item">@Html.ActionLink("Grupo", "Index", "Grupo")</li>
                    <li class="item">@Html.ActionLink("Participante", "Index", "Participante")</li>
                    <li class="item">@Html.ActionLink("Detalle", "Index", "Detalle")</li>
                    <li class="item">@Html.ActionLink("Cancha", "Index", "Cancha")</li>
                    <li class="item">@Html.ActionLink("Propietario", "Index", "Propietario")</li>
                    <li class="item">@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                    <li class="item">@Html.ActionLink("Jugador", "Index", "Jugador")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros</a>
                        <ul class="dropdown-menu">
                            <li class="item">@Html.ActionLink("Administrador", "Index", "Administrador")</li>
                            <li class="divider"></li>
                            <li class="item">@Html.ActionLink("Departamento", "Index", "Departamento")</li>
                            <li class="divider"></li>
                            <li class="item">@Html.ActionLink("Ciudad", "Index", "Ciudad")</li>
                            <li class="divider"></li>
                            <li class="item">@Html.ActionLink("Distrito", "Index", "Distrito")</li>
                            <li class="divider"></li>
                            <li class="item">@Html.ActionLink("Calle", "Index", "Calle")</li>
                            <li class="divider"></li>
                            <li class="item">@Html.ActionLink("Cancha", "Index", "Cancha")</li>
                            <li class="divider"></li>
                            <li class="item">@Html.ActionLink("DetalleParticipante", "Index", "Detalle")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
