<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                
                @Html.ActionLink("SoccerMatch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Reserva<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Alquiler", "Index", "Alquiler")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Detalle", "Index", "Detalle")</li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Grupo<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Grupo", "Index", "Grupo")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Participante", "Index", "Participante")</li>
                        </ul>
                    </li>
                    <li class="menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Usuarios<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Usuario", "Index", "Usuario")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Jugador", "Index", "Jugador")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Propietario", "Index", "Propietario")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Cancha", "Index", "Cancha")</li>
                    <li class="menu">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button">Location Data<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Departamento", "Index", "Departamento")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Ciudad", "Index", "Ciudad")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Distrito", "Index", "Distrito")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Calle", "Index", "Calle")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SoccerMatch ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
