@model IEnumerable<Entity.Distrito>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CCiudad.NCiudad)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.NDistrito)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CCiudad.NCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NDistrito)
            </td>

            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@
        </tr>
    }
</table>


