@model IEnumerable<Entity.Usuario>

@{
    ViewBag.Title = "Usuario";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDNI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumTelefono)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumTelefono)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { id = item.CUsuario }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
