@model Entity.Administrador

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Administrador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TDireccion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.CUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
