@model Entity.Participante

@{
    ViewBag.Title = "Details Participante " + Model.CParticipante;
}

<h2>Details</h2>

<div>
    <h4>Participante @Html.DisplayFor(model => model.CParticipante)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CParticipante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CParticipante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CGrupo.NGrupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CGrupo.NGrupo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CJugador.NUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CJugador.NUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CParticipante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
