@model Entity.Participante

@{
    ViewBag.Title = "Edit Participante " + Model.CParticipante;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Participante @Html.DisplayFor(model => model.CParticipante)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CParticipante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CParticipante)
        </dd>
    </dl>
    @Html.HiddenFor(model => model.CParticipante)
    <div class="form-group">
        @Html.LabelFor(model => model.CJugador.NUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.CJugador.CUsuario,
                         new SelectList(ViewBag.jugador, "CUsuario", "NUsuario"), "---Select---", "")
            @Html.ValidationMessageFor(model => model.CJugador.CUsuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CGrupo.NGrupo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.CGrupo.CGrupo,
                         new SelectList(ViewBag.grupo, "CGrupo", "NGrupo"), "---Select---", "")
            @Html.ValidationMessageFor(model => model.CGrupo.CGrupo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FEsAdministrador, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.FEsAdministrador)
                @Html.ValidationMessageFor(model => model.FEsAdministrador, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
