@model IEnumerable<Entity.Participante>

@{
    ViewBag.Title = "Participante";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CParticipante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CGrupo.NGrupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CJugador.NUsuario)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CParticipante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CGrupo.NGrupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CJugador.NUsuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CParticipante }) |
            @Html.ActionLink("Details", "Details", new { id=item.CParticipante }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.CParticipante })
        </td>
    </tr>
}

</table>
