@model SoccerMatch_TF.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cdni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cdni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nusuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nusuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTelefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pswd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pswd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgFoto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Cusuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
