@model IEnumerable<SoccerMatch_TF.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cdni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nusuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTelefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pswd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgFoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cdni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nusuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pswd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgFoto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Cusuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Cusuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Cusuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
