@model IEnumerable<SoccerMatch_TF.Models.Calle>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ncalle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CdistritoNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ncalle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CdistritoNavigation.Ndistrito)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Ccalle">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Ccalle">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Ccalle">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
