@model IEnumerable<Entity.Alquiler>

@{
    ViewBag.Title = "Alquiler";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CAlquiler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DHoraInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumHoras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDescuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FPagado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CAlquiler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DHoraInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumHoras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MDescuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FPagado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
