@model Entity.DetalleParticipante

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetalleParticipante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CDetalleParticipante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDetalleParticipante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MCuota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MCuota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPartePagada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPartePagada)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CDetalleParticipante }) |
    @Html.ActionLink("Back to List", "Index")
</p>
