@model IEnumerable<Entity.DetalleParticipante>

@{
    ViewBag.Title = "Detalle";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CDetalleParticipante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCuota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FPartePagada)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CDetalleParticipante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MCuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FPartePagada)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.CDetalleParticipante  }) |
            @Html.ActionLink("Details", "Details", new { id = item.CDetalleParticipante  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CDetalleParticipante })
        </td>
    </tr>
}

</table>
